.block {
    /* border: 1px solid black; */
    background-color: red;
    /* margin: 20px; */
    /* padding: 100px; */
    width: 200px;
    height: 100px;
}

.first {
    margin-bottom: 20px;
}

.second {
    margin-top: 50px;
}

/* p {
    margin-bottom: 100px;
} */